# Databas (Neon eller lokal PostgreSQL)
DATABASE_URL="postgresql://USER:PASSWORD@HOST/knegarloggen?sslmode=require"

# Better Auth
BETTER_AUTH_SECRET="generera-med-openssl-rand-base64-32"
BETTER_AUTH_URL="http://localhost:3000"

# App-URL (samma som BETTER_AUTH_URL)
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# UploadThing
UPLOADTHING_TOKEN=""

#resend
RESEND_API_KEY=""
# TODO: Lägg till RESEND_FROM i .env – lokalt: "onboarding@resend.dev", i produktion: din verifierade domän t.ex. "noreply@knegarloggen.se"
RESEND_FROM=""



#STRIPE
STRIPE_SECRET_KEY=s
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=p
STRIPE_PRICE_ID=price_
STRIPE_WEBHOOK_SECRET=

#Test card number for stripe: 
# 4242424242424242
