# Databas (Neon eller lokal PostgreSQL)
DATABASE_URL="postgresql://USER:PASSWORD@HOST/knegarloggen?sslmode=require"

# Better Auth
BETTER_AUTH_SECRET="generera-med-openssl-rand-base64-32"
BETTER_AUTH_URL="http://localhost:3000"

# App-URL (samma som BETTER_AUTH_URL)
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# UploadThing
UPLOADTHING_TOKEN=""

#resend
RESEND_API_KEY=""

#stripe publiserbara test nyckklar
pk_test_51TjNva5HKvURzgPKucNZ3zToDYICDscF445aeqqto1AQNS5qBf5yRqiqHw4UBmH8AqPuEVJeIAUULABRS764Jd0i00PxNIPra6

#Test card number for stripe: 
# 4242424242424242
